<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ilovepc.project_home.repository.TransactionHistoryMapper">
    <insert id="insertTransactionHistories" parameterType="java.util.List">
        INSERT INTO home_project.transaction_history (
            transaction_at,
            description,
            transaction_type,
            transaction_institution,
            account_number,
            amount,
            balance_after,
            memo,
            source_file_name,
            source_row_number,
            category_id,
            cashflow_type,
            is_fixed,
            source_type,
            payment_method,
            external_key
        )
        VALUES
        <foreach collection="transactionHistories" item="item" separator=",">
            (
                #{item.transactionAt},
                #{item.description},
                #{item.transactionType},
                #{item.transactionInstitution},
                #{item.accountNumber},
                #{item.amount},
                #{item.balanceAfter},
                #{item.memo},
                #{item.sourceFileName},
                #{item.sourceRowNumber},
                #{item.categoryId},
                #{item.cashflowType},
                #{item.isFixed},
                #{item.sourceType},
                #{item.paymentMethod},
                #{item.externalKey}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
            description = VALUES(description),
            transaction_type = VALUES(transaction_type),
            transaction_institution = VALUES(transaction_institution),
            account_number = VALUES(account_number),
            amount = VALUES(amount),
            balance_after = VALUES(balance_after),
            memo = VALUES(memo),
            category_id = VALUES(category_id),
            cashflow_type = VALUES(cashflow_type),
            is_fixed = VALUES(is_fixed),
            payment_method = VALUES(payment_method)
    </insert>

    <select id="selectTransactionHistories"
            resultType="com.ilovepc.project_home.web.accountbook.vo.TransactionHistoryResult">
        SELECT
            id,
            transaction_at,
            description,
            transaction_type,
            transaction_institution,
            account_number,
            amount,
            balance_after,
            memo,
            source_type,
            payment_method
        FROM home_project.transaction_history
        WHERE transaction_at <![CDATA[>=]]> #{searchParam.startDateTime}
          AND transaction_at <![CDATA[<]]> #{searchParam.endDateTimeExclusive}
        ORDER BY transaction_at DESC, id DESC
        LIMIT #{searchParam.limit}
        OFFSET #{searchParam.offset}
    </select>

    <select id="countTransactionHistories" resultType="int">
        SELECT COUNT(*)
        FROM home_project.transaction_history
        WHERE transaction_at <![CDATA[>=]]> #{searchParam.startDateTime}
          AND transaction_at <![CDATA[<]]> #{searchParam.endDateTimeExclusive}
    </select>
</mapper>
